<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- baidu -->
  <meta name="baidu-site-verification" content="dn3i8hLCzJ" />
  <!-- google -->
  <meta name="google-site-verification" content="79DA47IsYCRx8waQysj5pZKxZEQwN9g0RZMgjyRupf8" />
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="Deepzz的个人博客，golang爱好者，服务器架构，高并发。">
  <meta name="author" content="deepzz">
  <link rel="icon" href="/favicon.ico">
  <title>{{.Title}}的博客</title>
  <!-- rss -->
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 最近文章" href="{{.Domain}}/feed" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://7xokm2.com1.z0.glb.clouddn.com/css/bootstrap.min.css">
  <!-- sns font -->
  <link rel="stylesheet" href="http://7xokm2.com1.z0.glb.clouddn.com/css/font-awesome.min.css">
  <!-- docs -->
  <!-- <link rel="stylesheet" href="/static/css/docs.min.css"> -->
  <!-- highlight theme -->
  <!-- <link rel="stylesheet" href="http://7xokm2.com1.z0.glb.clouddn.com/css/style/railscasts.css"> -->
  <link rel="stylesheet" href="http://7xokm2.com1.z0.glb.clouddn.com/css/user-content.min.css">
  <link rel="stylesheet" href="/static/css/blog.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css">
    
  </style>
</head>
<body>
<!--[if lt IE 9]>
<div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->
<script src="http://7xokm2.com1.z0.glb.clouddn.com/js/jquery-1.11.3.min.js"></script>
<script src="http://7xokm2.com1.z0.glb.clouddn.com/js/marked.min.js"></script>
<!-- <script src="http://7xokm2.com1.z0.glb.clouddn.com/js/highlight.pack.js"></script> -->
<!--loading-->
<!-- <div class="preloader">
  <div id="status">
    <p class="center-text">Loading the content...
    <em>Loading depends on your connection speed!</em>
  </p></div>
</div> -->
<!--loading end-->

<!-- content start -->
<div class="left-bar">
  <div class="top-section">
    <div class="profile-image">
      <img src="{{.Picture}}" class="img-responsive img-rounded img-circle" alt="logo image">
    </div>
    <h4 class="profile-title">{{.BlogName}}</h4>
    <p class="profile-description">{{.Introduce}}</p>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" id="search-content" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="btn-search"><span class="fa fa-search" aria-hidden="true"></span></button>
    </span>
  </div><!-- /input-group -->
  <ul class="nav nav-stacked" id="nav-category">
    <!-- <li><a href="/cat/framework">程序框架</a></li> -->
    {{range .Categories}}
      {{if eq $.Choose .ID}}
        <li class="active"><a href="{{.Extra}}" target="_self" title="{{.Title}}">{{.Text}}</a></li>
      {{else if .Extra}}
        <li><a href="{{.Extra}}" target="_self" title="{{.Title}}">{{.Text}}</a></li>
      {{else}}
        <li class="tq">{{.Text}}</li>
      {{end}}
    {{end}}
  </ul>
  <div class="social-icons">
    <ul>
      {{range .Socials}}
        <li><a href="{{.Extra}}" target="_blank"><i class="{{.Icon}}"></i></a></li>
      {{end}}
    </ul>
  </div>
  <p class="site-copyright">© Copyright 2016 - {{.CopyTime}} <a href="{{.Domain}}" title="Deepzz">{{.BlogName}}</a></p>
</div>
<div class="right-content">
  <div class="container-fluid bs-docs-container" id="content">
    {{.LayoutContent}}
  </div>
</div>
<!-- content end -->
<script src="http://7xokm2.com1.z0.glb.clouddn.com/js/bootstrap.min.js"></script>
<script src="/static/js/blog.js"></script>
<script type="text/javascript">
  $('#btn-search').on('click', function(){
    var content = $('#search-content').val();
    if (content == ""){
      pushMessage('info', "sorry|请输入你搜索的标题。")
      return;
    }
    location.href="/search?title=" + content;
  });
</script>
</body>
</html>