<div class="top-section">
  <div class="profile-image">
    <img src="{{.Picture}}" class="img-responsive img-rounded img-circle" alt="logo image">
  </div>
  <h4 class="profile-title">{{.BlogName}}</h4>
  <p class="profile-description">{{.Introduce}}</p>
</div>
<div class="input-group">
  <input type="text" class="form-control" id="search-content" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" id="btn-search"><span class="fa fa-search" aria-hidden="true"></span></button>
  </span>
</div><!-- /input-group -->
<ul class="nav nav-stacked" id="nav-category">
  <!-- <li><a href="/cat/framework">程序框架</a></li> -->
  {{str2html .Category}}
</ul>
<div class="social-icons">
  <ul>
    {{str2html .Social}}
  </ul>
</div>
<p class="site-copyright">© Copyright 2016 - {{.CopyTime}} <a href="{{.Url}}" title="Deepzz">{{.BlogName}}</a></p>