<div class="row"><div class="col-md-12"><h1 class="page-title">分类列表: 学习点滴</h1></div></div>
<div class="row">
  <div class="col-md-12 post-container">
    <h2 class="post-title"><a href="http://www.soulteary.com/2016/01/20/switch-dns-profile-quickly.html" rel="bookmark">快速切换Mac设备的DNS配置</a></h2>
    <div class="meta-box">
      <span class="m-post-date"><i class="icon-calendar"></i> 2016年1月20日</span>
      <span class="comments-link"><a href="http://www.soulteary.com/2016/01/20/switch-dns-profile-quickly.html#respond" class="ds-thread-count" data-thread-key="9523" title="Comment on 快速切换Mac设备的DNS配置" target="_self"><i class="icon-comments"></i> 留言</a></span>
    </div>
    <div class="post-content post-expect">
      <p>快速切换DNS脚本WEB开发经常遇到调试需求，而调试又偏偏依赖网络环境的时候，这个时候来回绑定HOST或者切换DNS未免枯燥。前厂的童鞋有写iHost来一键切换配置，当然，类似方案挺多的，但是便捷的切换DNS服务器和搜索域的工具就不多了。 
        <a href="http://www.soulteary.com/2016/01/20/switch-dns-profile-quickly.html#more-9523" class="more-link btn btn-primary btn-xs">阅读全文</a>
      </p>
    </div>
    <div class="meta-box">
      <span class="cat-links"><i class="icon-reorder"></i><b>分类:</b><a href="http://www.soulteary.com/topics/knowledge/system-knowledge/linux-learning" rel="category tag" target="_self">Linux/Mac</a></span>
      <span class="tag-links">
        <i class="icon-tags"></i><b>标签:</b><a href="http://www.soulteary.com/tags/bash" rel="tag" target="_self">bash</a>, <a href="http://www.soulteary.com/tags/dns" rel="tag" target="_self">DNS</a>, <a href="http://www.soulteary.com/tags/mac" rel="tag" target="_self">mac</a></span>
    </div>
  </div>
</div>