<h6><div id='newtopic-tag'>
	</div></h6>
	<div class="btn-group choose-tag">
	  <button type="button" id="choose-tag" class="btn btn-default btn-success" aria-haspopup="true" aria-expanded="false">
	    选择TAG <span class="caret"></span>
	  </button>
	  <div class="dropdown-menu" id="dropdown-tag" style="width:240px;">
	  </div>
	</div>
	<select id="selecet-addtopic" class="form-control" style="width:auto">
	{{range .Categories}}
		{{if .IsSelected}}
			<option selected value='{{.ID}}'>{{.ID}}</option>
		{{else}}
			<option value='{{.ID}}'>{{.ID}}</option>
		{{end}}
	{{end}}
	</select>

	<script>
	$("#choose-tag").on('click', function(){
		if($("#dropdown-tag").is(":hidden")){
			$('#dropdown-tag').fadeIn();
		  	var resp = get('post', location.pathname, {flag:'tag'}, false);
		  	if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
		  	$("#dropdown-tag").html(resp.Data);
		}else{
		  	$('#dropdown-tag').fadeOut();
		}
	});
	var tags = new Array();
	function removetag(e){
		var parent = e.parentElement;
		var tag = parent.innerText.substring(0,parent.innerText.length-1);
		tags.remove(tag);
		parent.remove();
	};
	</script>