{{range .Topics}}
<tr>
	<th scope="row">
		<input type="checkbox" id="{{.ID}}">
	</th>
	<td>{{.ID}}</td>
	<td>{{.Title}}</td>
	<td class='category'>{{.CategoryID}}</td>
	<td>{{.TagIDs}}</td>
	<td>{{.Author}}</td>
	<td>{{.CreateTime}}</td>
	<td>{{.EditTime}}</td>
	<td><button type="button" data-toggle="modal" data-target="#gridSystemModal" class="btn btn-info btn-xs modify">修改</button><button type="button" class="btn btn-warning btn-xs delete-topic">删除</button></td>
</tr>
{{end}}
<script>
{{if .IsFirstPage}}
	$('#previous').addClass('disabled');
{{else}}
	$('#previous').removeClass('disabled');$('#previous').one('click', function(){
		var resp = get('post', location.pathname, {flag:'topics',cat:'{{.CategoryID}}',page:'{{.PrePage}}'},false);
		if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
		$('#topics-tbody').html(resp.Data);
	});
{{end}}
{{if .IsLastPage}}
	$('#next').addClass('disabled');
{{else}}
	$('#next').removeClass('disabled');$('#next').one('click', function(){
		var resp = get('post', location.pathname, {flag:'topics', cat:'{{.CategoryID}}',page:'{{.NextPage}}'},false);
		if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
		$('#topics-tbody').html(resp.Data);
	});
{{end}}
$('.modify').each(function(i){
	$(this).on('click',function(){
		var id = $(this).parent().parent().find('th input').attr('id');
		if (id==""){pushMessage('info', '对不起|系统错误。');}
		var resp = get('post', location.pathname, {flag:'modify', id:id}, false);
		if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
		$('#gridModalLabel').text('修改文章');
		if ($('#selecet-addtopic').length == 0){
			var cat = $(this).parent().parent().find('.category').text();
       		var resp = get('post', location.pathname, {flag:'category',selected:cat}, false);
       		if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
       		$('#gridModalLabel').append(resp.Data);
      		}
		resp = get('post', location.pathname, {flag:"editor"}, false);
    	var html = '<div class="row">'+ resp.Data +'</div>';
      	$('.modal-body .container-fluid').html(html);
      	resp = get('post', location.pathname, {flag:'modify', id:id}, false);
      	$('#editor-title').attr('value',resp.Data.Title);
      	$('#editor-area').text(resp.Data.Content);
      	console.log(resp.Tags)
      	for (var i = 0; i < resp.Data.Tags.length; i++){
      		var tag = resp.Data.Tags[i]
      		console.log(tag)
      		tags.push(tag);
      		var html = '<span class="label label-primary">'+ tag +'<span aria-hidden="true" class="remove-tag" onclick="removetag(this);">×</span></span>';
			$('#newtopic-tag').append(html);
      	}
      	$('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="button" id="changemodifytopic" class="btn btn-primary">Save changes</button>');
      	$('#changemodifytopic').on('click', function(){
        	var title = $('#editor-title').val();
        	var content = $('#editor-area').val();
        	var category = $('#selecet-addtopic').val();
        	console.log(title, content, category, tags.toString())
        	if (title == "" || content == ""){
          		pushMessage('info', '错误|请填写完整。');
          		return;
        	}
        	var resp = get('post', location.pathname, {flag:'domodify',id:id,title:title,content:content, cat:category, tags: tags.toString()}, false);
        	if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
        	location.reload();
        });
	});
});
$('.delete-topic').on('click', function(){
	var id = $(this).parent().parent().find('th input').attr('id');
	if (id==""){pushMessage('info', '对不起|系统错误。');return;}
	if (!confirm('确定要删除该文章吗？')){return;}
	var resp = get('post', location.pathname, {flag:'deletetopic', id:id}, false);
	if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
	location.reload();
});	
</script>