<form class="form-inline">
  <div class="form-group">
    <div class="btn-group" role="group" style="margin-left: 10px;">   
      <button type="button" data-toggle="modal" data-target="#gridSystemModal" id="newblogroll" class="btn btn-default btn-info">新增链接</button>
    </div>
  </div>
</form>
<div class="manage-table">
  <table class="table">
    <caption>友情链接</caption>
    <thead>
      <tr>
        <th><a>全选</a></th>
        <th>排序</th>
        <th>ID</th>
        <th>超链接</th>
        <th>显示名称</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="blogroll-tbody">
      <!-- <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td><button type="button" class="btn btn-info btn-xs">修改</button><button type="button" class="btn btn-warning btn-xs">删除</button></td>
      </tr>  -->  
    </tbody>
  </table>
  <script>
    $('#newblogroll').on('click', function(){
      $('#gridModalLabel').text('新增链接');
      var example = '{\n        \"ID\": \"deepzz\",\n        \"SortID\": 0,\n        \"CreateTime\": "2016-02-03T21:35:11.28+08:00",\n        \"Node\": {\n                \"Type\": \"li\",\n                \"Class\": \"\",\n                \"Extra\": \"\",\n                \"Text\": \"\",\n                \"Children\": [\n                        {\n                                \"Type\": \"a\",\n                                \"Class\": \"\",\n                                \"Extra\": \"href=\'http://deepzz.com/\' target=\'_blank\'\",\n                                \"Text\": \"Deepzz的博客\",\n                                \"Children\": []\n                        }\n                ]\n        }\n}';
      var html = '<div class="row"><textarea class="form-control" id="blogroll-content" rows="20">'+ example +'</textarea></div>';
      $('.modal-body .container-fluid').html(html);
      $('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="button" id="addblogroll" class="btn btn-primary">Save changes</button>');
      $('#addblogroll').on('click', function(){
        var content = $('#blogroll-content').val();
        var resp = get('post', location.pathname, {flag:'addblogroll',json:content}, false);
        if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
        location.reload();
      });
    });     
  </script>
</div>