<form class="form-inline">
  <div class="form-group">
    <div class="btn-group" role="group" style="margin-left: 10px;">   
      <button type="button" data-toggle="modal" data-target="#gridSystemModal" id="newcategory" class="btn btn-default btn-info">新增分类</button>
    </div>
  </div>
</form>
<div class="manage-table">
  <table class="table">
    <caption>分类信息</caption>
      <thead>
        <tr>
          <th><a>全选</a></th>
          <th>排序</th>
          <th>索引</th>
          <th>超链接</th>
          <th>显示信息</th>
          <th>文章数量</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="cat-tbody">
        <!-- <tr>
          <th scope="row"><input type="checkbox"></th>
          <td>Table cell</td>
          <td>Table cell</td>
          <td>Table cell</td>
          <td>Table cell</td>
          <td><button type="button" class="btn btn-info btn-xs">修改</button><button type="button" class="btn btn-warning btn-xs">删除</button></td>
        </tr> -->
      </tbody>
    </table>
    <table class="table">
      <caption>标签信息</caption>
      <thead>
        <tr>
          <th><a>全选</a></th>
          <th>索引</th>
          <th>超链接</th>
          <th>显示信息</th>
          <th>文章数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tag-tbody">
        <!-- <tr>
          <th scope="row"><input type="checkbox"></th>
          <td>Table cell</td>
          <td>Table cell</td>
          <td>Table cell</td>
          <td>Table cell</td>
          <td><button type="button" class="btn btn-warning btn-xs">删除</button></td>
        </tr> -->
      </tbody>
    </table>
    <script>
    $('#newcategory').on('click', function(){
      $('#gridModalLabel').text('新增分类');
      var example = '{\n        \"ID\": \"golang\",\n        \"Count\": 0,\n        \"IsCategory\": true,\n        \"SortID\": 6,\n        \"CreateTime\": "2016-02-03T21:35:11.28+08:00",\n        \"Node\": {\n                \"Type\": \"li\",\n                \"Class\": \"\",\n                \"Extra\": \"\",\n                \"Text\": \"\",\n                \"Children\": [\n                        {\n                                \"Type\": \"a\",\n                                \"Class\": \"\",\n                                \"Extra\": \"href=\'/cat/golang\' target=\'_self\'\",\n                                \"Text\": \"Go语言\",\n                                \"Children\": []\n                        }\n                ]\n        }\n}';
      var html = '<div class="row"><textarea class="form-control" id="cat-content" rows="20">'+ example +'</textarea></div>';
      $('.modal-body .container-fluid').html(html);
      $('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="button" id="changeaddcat" class="btn btn-primary">Save changes</button>');
      $('#changeaddcat').on('click', function(){
        var content = $('#cat-content').val();
        var resp = get('post', location.pathname, {flag:'addcategory',json:content}, false);
        if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
        location.reload();
      });
    });     
  </script>
</div>