<form class="form-inline">
  <div class="form-group">
    <div class="btn-group" role="group" style="margin-left: 10px;">   
      <button type="button" id="addtopic" data-toggle="modal" data-target="#gridSystemModal" class="btn btn-default btn-info">新增文章</button>
      <button type="button" id="deleteall" class="btn btn-default btn-danger">批量删除</button>
    </div>
  </div>
  <div class="form-group" style="float:right">
    <div class="input-group">
      <input type="text" class="form-control" style="z-index:0;" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" id="search" type="button">Go!</button>
            </span>
    </div><!-- /input-group -->
  </div>
  <div class="input-group" style="float: right!important;">
    <span class="input-group-addon">选择分类</span>
    <select class="form-control" id="select-category" style="width:auto;z-index:0;">
      <option value="0">全部</option>
      <!-- <option>默认分类</option>
      <option>C/C++</option>
      <option>4</option>
      <option>5</option> -->
      {{str2html .Category}}
    </select>
  </div>
</form>
<div class="manage-table">
  <table class="table">
    <caption>博文管理</caption>
    <thead>
      <tr>
        <th><a>全选</a></th>
        <th>ID</th>
        <th>标题</th>
        <th>分类</th>
        <th>标签</th>
        <th>作者</th>
        <th>创建时间</th>
        <th>编辑时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="topics-tbody">
      <!-- <tr>
      <th scope="row"><input type="checkbox"></th>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td><button type="button" class="btn btn-info btn-xs">修改</button><button type="button" class="btn btn-warning btn-xs">删除</button></td>
      </tr> -->
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      <li class="previous" id="previous"><a href="javascript:;"><span aria-hidden="true">←</span> Older</a></li>
      <li class="next" id="next"><a href="javascript:;">Newer <span aria-hidden="true">→</span></a></li>
    </ul>
  </nav>
  <script>
    $('#select-category').on('change', function(){
      var resp = get("post", location.pathname,{flag:"topics", cat:$(this).val()}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      $("#topics-tbody").html(resp.Data);
    });
    $('#addtopic').on('click', function(){
      $('#gridModalLabel').text('添加文章');
      if ($('#selecet-addtopic').length == 0){
        var resp = get('post', location.pathname, {flag:'category'}, false);
        if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
        $('#gridModalLabel').append(resp.Data);
      }
      var resp = get('post', location.pathname, {flag:"editor"}, false);
      var html = '<div class="row">'+ resp.Data +'</div>';
      $('.modal-body .container-fluid').html(html);
      $('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="button" id="changeaddtopic" class="btn btn-primary">Save changes</button>');
      $('#changeaddtopic').on('click', function(){
        var title = $('#editor-title').val();
        var content = $('#editor-area').val();
        var category = $('#selecet-addtopic').val();
        if (title == "" || content == ""){
          pushMessage('info', '错误|请填写完整。');
          return;
        }
        var resp = get('post', location.pathname, {flag:'addtopic',title:title,content:content, cat:category, tags: tags.toString()}, false);
        if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
        location.reload();
      });
    });
    $('#deleteall').on('click', function(){
      var checkedID = new Array();
      $('input:checkbox:checked').each(function(i){
        checkedID.push($(this).attr("id"));
      });
      if (checkedID.length==0){
        pushMessage('info', '错误|请选择要删除的文章。');
        return;
      }
      if (!confirm('确定要删除所选的文章吗？')){return;}
      var resp = get('post', location.pathname, {flag:'deletetopics', ids:checkedID.toString()},false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      location.reload();
    });   
  </script>
</div>