<div class="row">
	<textarea class="form-control" id="cat-content" rows="20">
		{{.Content}}
	</textarea>
</div>
<script>
	$('#gridModalLabel').text('修改分类');
	$('#cat-content').text(JSONFormat($('#cat-content').val()));
	$('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="button" id="modifycat" class="btn btn-primary">Save changes</button>');
	$('#modifycat').on('click',function(){
		var content = $('#cat-content').val();
		if (content==""){pushMessage('info', '错误|请填写完整。');return;}
		var resp = get('post', location.pathname, {flag:'domodify',json:content},false);
		if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
		location.reload();
	});
</script>