{{range .Tags}}
<tr>
	<th scope='row'><input id='{{.ID}}' type='checkbox'></th>
	<td>{{.ID}}</td>
	<td>{{.Extra}}</td>
	<td>{{.Name}}</td>
	<td>{{.Count}}</td>
	<td><button type="button" class="btn btn-warning btn-xs delete-tag">删除</button></td>
</tr>
{{end}}
<script>
$('.delete-tag').on('click', function(){
	var id = $(this).parent().parent().find('th input').attr('id');
	if (id==""){pushMessage('info', '对不起|系统错误。');}
	if (!confirm('确定要删除该标签吗？')){return;}
	var resp = get('post', location.pathname, {flag:'deletetag', id:id}, false);
	if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
	location.reload();
});
</script>