{{range .Blogrolls}}
<tr>
	<th scope="row">
		<input id="{{.ID}}" type="checkbox">
	</th>
	<td>{{.SortID}}</td>
	<td>{{.ID}}</td>
	<td>{{.Extra}}</td>
	<td>{{.Name}}</td>
	<td>{{.Time}}</td>
	<td>
		<button type="button" data-toggle="modal" data-target="#gridSystemModal" class="btn btn-info btn-xs modify">修改</button>
		<button type="button" class="btn btn-warning btn-xs delete-blogroll">删除</button>
	</td>
</tr>
{{end}}
<script>
	$('.modify').on('click',function(){
		var id = $(this).parent().parent().find('th input').attr('id');
		if (id==""){pushMessage('info', '对不起|系统错误。');}
		var resp = get('post', location.pathname, {flag:'modify', id:id}, false);
		if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
		$('.modal-body .container-fluid').html(resp.Data);
	});
	$('.delete-blogroll').on('click', function(){
		var id = $(this).parent().parent().find('th input').attr('id');
		if (id==""){pushMessage('info', '对不起|系统错误。');}
		if (!confirm('确定要删除该链接吗？')){return;}
		var resp = get('post', location.pathname, {flag:'deleteblogroll', id:id}, false);
		if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
		location.reload();
	});	
</script>
